{% extends "weddingApp/weddingApp_base.html" %}
{% load staticfiles %}
{% block content %}
  {# My CSS #}
  <link rel="stylesheet" href="{% static "css/master.css" %}">

    <div class="jumbotron">

        <p class="text-xl-center"> Thank you for your RSVP! We can't wait to see you on the big day.</p>
    </div>



      <h1>Take quiz to see how well you know the bride and groom?</h1>
      <p>Here's an idea i have, could be fun to share the results of these questions at the wedding</p>

{% endblock %}
